:root {
  --dark-1: #2B3E78;
  --dark-2: #33457C;
  --dark-3: #3C5293;
  --dark-4: #586FB4;

  --light-1: #FEFEFE;
  --light-2: #F3F4F8;
  --light-3: #EAF2FF;
  --light-4: #D9E7FF;

  --gray-1: #414650;
  --gray-2: #BABEC5;

  --accent: #1640DE;
  --success: #4CAF50;
  --warning: #F6BE2C;
  --error: #F53C14;
  //тексты
  --text-primary: var(--dark-1);
  --text-secondary: var(--light-1);
  --text-tertiary: var(--light-1);
  --text-quadruple: var(--dark-3);
  --text-light: var(--dark-4);

  --text-primary-buttons: var(--dark-1);
  --text-secondary-buttons: var(--light-1);
  --text-buttons-disable: var(--gray-1);

  --text-primary-input: var(--dark-3);

  --text-action: var(--accent);
  --text-success: var(--success);
  --text-error: var(--error);
  //фоны
  --bg-primary: var(--light-1);
  --bg-secondary: var(--dark-1);
  --bg-tertiary: var(--dark-2);
  --bg-quadruple: var(--light-2);

  --bg-primary-buttons: var(--light-1);
  --bg-primary-buttons-hover: var(--light-3);
  --bg-primary-buttons-pressed: var(--light-4);
  --bg-secondary-buttons: var(--dark-1);
  --bg-secondary-buttons-hover: var(--dark-3);
  --bg-secondary-buttons-pressed: var(--dark-4);
  --bg-buttons-disable: var(--gray-2);

  --bg-primary-input: var(--light-2);
  --bg-secondary-input: var(--light-1);

  --bg-action:  var(--accent);
  --bg-success: var(--success);
  --bg-warning: var(--warning);
  --bg-error: var(--error);

  --small-border-radius: 4px;
  --medium-border-radius: 8px;
  --large-border-radius: 12px;
  --extra-large-border-radius: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-primary);
  background: var(--bg-primary);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background: rgba(43, 62, 120, 0.27);
  border-radius: 5px;
}

#root{
  padding: 0;
  margin: 0;
  height: calc(100vh + 230px);
  display: grid;
  grid-template-rows: auto 1fr auto;

  > * {
    min-width: 0;
  }
}

.hidden{
  display: none !important;
}