:root {
  //тексты
  --text-primary: #2B3E78;
  --text-secondary: #FEFEFE;
  --text-tertiary: #FEFEFE;
  --text-quadruple: #4b5b93;
  --text-very-dark-blue: #001A34;
  --text-primary-buttons: #3c5293;
  --text-secondary-buttons: #FEFEFE;
  --text-buttons-disable: #414650;
  --text-action: #1640de;
  --text-primary-input: #3c5293;
  --text-error: #F53C14;
  --text-success: #4CAF50;
  //фоны
  --bg-primary: #FEFEFE;
  --bg-secondary: #2B3E78;
  --bg-tertiary: #33457c;
  --bg-quadruple: #F3F4F8;
  --bg-primary-buttons: #FEFEFE;
  --bg-secondary-buttons: #2B3E78;
  --bg-buttons-disable: #babec5;
  --bg-primary-buttons-hover: #eaf2ff;
  --bg-primary-buttons-pressed: #d9e7ff;
  --bg-secondary-buttons-hover: #3c5293;
  --bg-secondary-buttons-pressed: #586fb4;
  --bg-action: #1640de;
  --bg-success: #4CAF50;
  --bg-warning: #F6BE2C;
  --bg-error: #F53C14;
  --bg-primary-input: #F3F4F8;
  --bg-secondary-input: #FEFEFE;
  --small-border-radius: 4px;
  --medium-border-radius: 8px;
  --large-border-radius: 12px;
  --extra-large-border-radius: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-primary);
  background: var(--bg-primary);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background: rgba(43, 62, 120, 0.27);
  border-radius: 5px;
}

#root{
  padding: 0;
  margin: 0;
  height: calc(100vh + 230px);
  display: grid;
  grid-template-rows: auto 1fr auto;

  > * {
    min-width: 0;
  }
}

.hidden{
  display: none !important;
}