.text {
  &.xxs {
    font-size: 12px;
    line-height: 14px;
  }

  &.xs {
    font-size: 12px;
    line-height: 18px;
  }

  &.s {
    font-size: 16px;
    line-height: 24px;
  }

  &.m {
    font-size: 20px;
    line-height: 36px;
  }

  &.l {
    font-size: 32px;
    line-height: 40px;
  }

  &.xl {
    font-size: 48px;
    line-height: 56px;
  }

  &.regular {
    font-weight: 400;
  }

  &.medium {
    font-weight: 500;
  }

  &.bold {
    font-weight: 700;
  }

  &.extra-bold {
    font-weight: 800;
  }

  &.center {
    text-align: center;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.text-success {
    color: var(--text-success);
  }

  &.text-error {
    color: var(--text-error);
  }

  &.text-quadruple {
    color: var(--text-quadruple);
  }

  &.text-inherit {
    color: inherit;
  }
}