.form-div {
  .form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &.error {
    color: var(--text-error);
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}



