.account__card {
    padding: 16px;
    border-radius: var(--medium-border-radius);
    background: var(--bg-quadruple);

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        > div {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__balance {
        display: flex;
        justify-content: flex-end;
        gap: 4px;

        &-currency {
            padding-top: 1px;
        }
    }
}