.account__card {
    &__column {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__balance {
        display: flex;
        justify-content: flex-end;
        gap: 4px;

        &-currency {
            padding-top: 1px;
        }
    }
}