.info {
    &__about {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px 0;
        border-top: 1px solid;
    }

    .social-links {
        display: flex;
        gap: 16px;
    }
}