.info {
    margin-top: 48px;

    &__first-row {
        padding-bottom: 24px;
        border-bottom: 1px solid;
    }
    &__second-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 24px 0;
    }

    .social-links {
        display: flex;
        gap: 16px;
    }
}