.user-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .user-contacts__row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    > div {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media screen and (max-width: 1100px) {
        flex: 1 1 100%;
        width: 100%;
      }

      flex: 1 1 33%;
    }
  }
}






