.accounts{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1180px;
    &-header{
        width: 100%;
        height: 74px;
        min-width: 1180px;
        color: var(--text-primary-day);
        &_filters-container{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    &-body{
        width: 100%;
        height: 288px;
        display: flex;
        justify-content: flex-start;
        gap: 20px; 
        flex-flow: row wrap;
    }
    &_not-found{
        white-space: pre-wrap;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-filter{
        display: flex;
        list-style: none;
        height: 40px;
        gap: 24px;
        &.filter-currency{
            height: 32px;
            gap: 8px; 
            & .currency-active{
               padding: 4px 16px;
               border-radius: var(--border-radius);
               color: var(--text-tertiary);
               background-color: var(--bg-tertiary);
            }
        }
        &_tab{
            cursor: pointer;
            padding: 8px 0px;
            height: 40px;
            &-currency{
                cursor: pointer;  
                padding: 4px 16px;
                height: 32x;
            }
        }
        & .active{
            border-bottom: 3px solid;
            color: var(--bg-tertiary);
            border-color: var(--bg-tertiary);
        }
    }
    
}

.account-item{
    position: relative;
    width: 380px;
    height: 134px;
    border-radius: var(--border-radius);
    background-color: var(--bg-quadruple);
    cursor: pointer;
    &_balance{
        position: absolute;
        width: 55px;
        height: 24px;
        top: 88px;
        left: 309px;
        display: flex;
        gap: 4px;
        color: var(--text-primary-day);
        & .currency{
            color: var(--bg-tertiary);
            display: inline-block;
            height: 16px;
            padding: 0px 0px 6px;
        }
    }
    &_info-container{
        position: absolute;
        width: 133px;
        height:108px;
        display: flex;
        flex-direction: column;
        top: 16px;
        left: 16px;
        gap: 16px;
        & .about-account{
            height: 52px;
            gap: 4px;
        }
    }
    &_badges-container{
        height: 56px;
        align-items: flex-end;
        position: absolute;
        top: 16px;
        right: 16px;
        gap: 8px;
        display: flex;
        flex-direction: column;
    }
    &_account-badge{
        padding: 4px 12px;
        border-radius: 12px;
        height: 17px;
        color: white;
        width: max-content;
      &.current-account{
        background-color: var(--bg-tertiary);
      }
      &.account-type{
        &_active{
            background-color: var(--bg-success);
        }
        &_closed{
            background-color: var(--bg-warning);
        }
        &_blocked{
            background-color: var(--bg-error);
        }
      }
    }
}