.account__filters-bar {
    display: flex;
    align-items: center;
    gap: 8px;

    &__button {
        border-radius: var(--border-radius);
        padding: 4px 16px;
        gap: 10px;

        &.active {
            color: var(--text-secondary-buttons);
            background: var(--bg-action);
        }
    }
}