.button {
  border-radius: var(--border-radius);
  padding: 12px 24px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  white-space: nowrap;

  &.large {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    height: 72px;
    width: 580px;
  }
  &.small{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    height: 48px;
  }

  &.medium {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    height: 56px;
    width: 220px;
  }

  &.primary {
    color: var(--text-primary-buttons);
    background: var(--bg-primary-buttons);
    box-shadow: inset 0 0 0 1px var(--bg-secondary-buttons);
    transition: background ease .5s;

    &:hover {
      background: var(--bg-primary-buttons-hover);
    }

    &:active, &.active {
      background: var(--bg-primary-buttons-pressed);
    }
  }

  &.secondary {
    color: var(--text-secondary-buttons);
    background: var(--bg-secondary-buttons);
    transition: background ease 0.5ms;

    &:hover {
      background: var(--bg-secondary-buttons-hover);
    }

    &:active, &.active {
      background: var(--bg-secondary-buttons-pressed);
    }
  }

  &.max {
    width: 100%;
  }

  &:disabled {
    color: var(--text-buttons-disable);
    background: var(--bg-buttons-disable);
    box-shadow: inset 0 0 0 1px var(--text-buttons-disable);
  }
}

.link {
  color: var(--text-action);
  text-decoration: underline;
}