.filter-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    @media screen and (max-width: 600px) {
        overflow-x: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__button {
        border-radius: var(--medium-border-radius);
        padding: 4px 16px;
        gap: 8px;

        &.active {
            color: var(--text-secondary-buttons);
            background: var(--bg-action);
        }
    }
}