.credit-application {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 56px;

    &__title {
        display: flex;
        flex-direction: column;
        gap: 12px;
        white-space: pre-wrap;
    }
}