.menu {
  display: block;

  &__bar {
    padding-top: 16px;
    display: flex;
    column-gap: 62px;
    row-gap: 24px;
    justify-content: space-between;
    white-space: nowrap;

    @media screen and (max-width: 1200px) {
      overflow-x: auto;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__items {
    min-height: 40px;
    display: flex;
    row-gap: 8px;

    &.primary {
      column-gap: 32px;
    }

    &.secondary {
      column-gap: 24px;
    }
  }

  &__item {
    padding: 8px 0;

    &.active {
      box-shadow: inset 0 -3px 0 0;
      color: var(--text-action);
    }
  }

  &__content {
    &.primary {
      margin: 56px 0;
    }

    &.secondary {
      margin: 30px 0;
    }
  }
}



