.carousel-inner {
  width:100%;
  height: 352px;
  overflow: hidden;
  
  &__container{
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    transform-style: preserve-3d;
    transition: all 1.2s ease;
  }

  &__element{
    cursor: grab;
    user-select: none;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    white-space: break-spaces;
    visibility: visible;
    transition: visibility 0.5s ease-out;
    @media screen and (max-width: 450px) {
      min-height: 500px;
    }

    &.hidden {

    }
  }
}