.info-link-card {
  &__icon {
    background-color: var(--bg-action);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: relative;

    img {
      position: absolute;
      top: 20%;
      left: 20%;
      width: 33px;
      height: 33px;
    }
  }
}