.switcher {
  position: relative;

  &__icon {
    width: 24px;
  }

  &__modal {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;
    box-shadow: 0 15px 20px 0 #0000000D;
    border-radius: var(--medium-border-radius);

    &__button {
      text-align: left;
      color: var(--text-primary);
      transition: text-decoration 500ms ease;

      &.active {
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}