.password-match {
  &_card{
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 10px;
    height: 18px;
  }
  &_display{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}



