.account-info {
    &__card {
        @media screen and (max-width: 500px)  {
            padding: 20px;
        }
        @media screen and (max-width: 1000px)  {
            flex-wrap: wrap;
            > div:first-child {
                max-width: 100%;
                flex: 1 1 100%;
            }
            > div:last-child {
                flex: 1 1 100%;
                max-width: calc(100% - 56px);
                margin-left: 56px;
            }
        }

        display: flex;
        justify-content: space-between;
        gap: 32px;
        border-radius: var(--extra-large-border-radius);
        padding: 32px;
        background: var(--bg-quadruple);
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: space-between;
    }

    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
        .account-info__name__more-info {
            @media screen and (min-width: 1000px)  {
                display: none;
            }
        }
    }

    &__name {
        display: flex;
        align-items: flex-start;
        gap: 16px;

        &__info {
            @media screen and (max-width: 1000px)  {
                gap: 12px;
            }
            display: flex;
            gap: 8px;
            flex-direction: column;
        }

        &__first-row {
            display: flex;
            column-gap: 24px;
            row-gap: 4px;

            @media screen and (min-width: 1000px)  {
                height: 32px;
            }
            @media screen and (max-width: 1000px)  {
                flex-wrap: wrap;
            }
        }

        &__second-row {
            display: flex;
            gap: 8px;
            align-items: flex-start;

            > button {
                width: 24px;
            }

            > div:first-child {
                @media screen and (min-width: 500px)  {
                    display: flex;
                    gap: 4px;
                    flex-wrap: wrap;
                }
            }
        }
    }


    &__info {
        @media screen and (max-width: 1100px)  {
            flex-wrap: wrap;
            gap: 16px;
            > div {
                flex: 1 1 100%;
            }
        }

        margin-left: 56px;
        display: flex;
        gap: 60px;
    }

    &__balance {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        > div:last-child {
            @media screen and (max-width: 1000px)  {
                display: none;
            }
        }
    }
}