.contacts-page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;

    &__blocks {
        display: flex;
        flex-direction: column;
        gap: 64px;

        > div {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
}