.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
    ul{
        display: flex;
        gap: 32px;
    }
}