.credit-card {
    &__first-column {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;

        @media screen and (min-width: 1200px) {
            width: calc(100% - 492px);
            max-width: 600px;
        }

        &__main {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &__info {
            width: 100%;
            display: flex;
            gap: 40px;
            flex-wrap: wrap;

            @media screen and (max-width: 1200px)  {
                flex: 1 1 100%;
                max-width: 100%;
            }

            @media screen and (max-width: 500px)  {
                gap: 16px;
            }

            > div {
                @media screen and (max-width: 500px)  {
                    flex: 1 1 100%;
                    width: 100%;
                }

                @media screen and (min-width: 500px) and (max-width: 700px) {
                    flex: 1 1 33%;
                    max-width: calc((100% - 40px)/2);
                }

                @media screen and (min-width: 700px) {
                    flex: 1 1 25%;
                    max-width: calc((100% - 2*40px)/3);
                }
            }
        }
    }

    &__second-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;

        @media screen and (max-width: 1200px) {
            width: 100%;
        }

        &__first-row {
            display: flex;
            gap: 20px;

            @media screen and (min-width: 1200px) {
                > div {
                    width: 220px;
                    max-width: 100%;
                }
            }

            @media screen and (min-width: 550px) and (max-width: 1200px)  {
                > div {
                    flex: 1 1 50%;
                }
            }

            @media screen and (max-width: 550px) {
                flex-wrap: wrap;
                > div {
                    width: 100%;
                }
            }
        }

        &__buttons {
            display: flex;
            gap: 20px;

            @media screen and (min-width: 1200px) {
                > div {
                    width: 220px;
                }
            }

            @media screen and (min-width: 550px) and (max-width: 1200px)  {
                > div {
                    flex: 1 1 50%;
                }
            }

            @media screen and (max-width: 550px) {
                flex-wrap: wrap;
                > div {
                    width: 100%;
                }
            }
        }
    }
}