.container-background {
  &.primary {
    background: var(--bg-primary);
    color: var(--text-primary);
  }

  &.secondary {
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }

  &.tertiary {
    background: var(--bg-tertiary);
    color: var(--text-tertiary);
  }

  @media screen and (max-width: 600px) {
    .container {
      padding: 0 15px !important;
    }
  }

  .container {
    margin: 0 auto;
    padding: 0 32px;
  }
}



