.finance-card {
  &__container {
    background-color: var(--bg-primary-input);
    margin-bottom: 25px;
    padding: 30px 20px;
    display: flex;
    border-radius: 8px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    gap: 10px;
  }
  &__buttons {
    display: flex;
    gap: 20px;
    margin-top: auto;
  }
}