.map-1-2-3 {
  width: 100%;
  height: 750px;
  position: relative;
}

.map {
  &__forward-container {
    > div:first-child {
      z-index: 2;
    }
    > div {
      position: absolute;
      z-index: 1;
      top: 24px;
      max-height: calc(750px - 24px);
    }

    &__left {
      left: 130px;
    }
    &__right {
      right: 130px;
    }

    @media screen and (max-width: 600px) {
      &__left {
        left: 15px;
      }
      &__right {
        right: 15px;
      }
    }

    @media screen and (min-width: 600px) and (max-width: 900px) {
      &__left {
        left: 30px;
      }
      &__right {
        right: 30px;
      }
    }

    @media screen and (min-width: 900px) and (max-width: 1000px) {
      &__left {
        left: 70px;
      }
      &__right {
        right: 70px;
      }
    }

    @media screen and (min-width: 1000px) and (max-width: 1200px) {
      &__left {
        left: 100px;
      }
      &__right {
        right: 100px;
      }
    }

    &__col {
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 378px;
      max-height: calc(750px - 24px);
      overflow-y: hidden;
    }
  }

  &__search {
    max-width: 380px;
  }
}

.bank-object {
  &__name {
    display: flex;
    gap: 12px;
  }
}

