a, a:link, a:visited, a:focus, a:hover, a:active {
  &.quadruple {
    color: var(--text-quadruple);
    text-decoration: underline;
  }

  &.action {
    color: var(--text-action);
    text-decoration: underline;
  }

  &.underline {
    text-decoration: underline;
  }
}

