.card-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__filters {
    display: flex;
    justify-content: space-between;

    > div:last-child {
      justify-content: flex-end;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

