.main-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media screen and (max-width: 800px) {
            flex-wrap: wrap;
        }

        > img {
            @media screen and (max-width: 1240px) {
                display: none;
            }
        }
    }
}