.main-menu{
    &_container{
        display: flex;
        min-height: 530px;
        margin-top: 56px;
        @media screen and (max-width: 800px) {
            flex-wrap: wrap;
         }
        @media screen and (max-width: 1267px) {
            align-items: center;
            justify-content: center;
        }
    }
    &_image{
        width: max(40%, 350px);
        position: relative;
        background-image: url('../../../shared//ui/icon/assets/images/pinkish-semicircle.png');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position-x: 70%;
        @media screen and (max-width: 1267px) {
            display: none;
        }
        @media screen and (min-width: 1768px) {
            background-size: 30%;
            background-position-x: 50%;
        }
    }
}