.message-card {
  max-width: 500px;
  width: 100%;
  white-space: pre-wrap;

  &__with-margin {
    margin: 56px auto;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__button {
    max-width: 340px;
    width: 100%;
  }
}