.message-card {
  max-width: 500px;
  width: 100%;
  white-space: pre-wrap;

  &__with-margin {
    margin: 56px auto;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__button {
    max-width: 340px;
    width: 100%;
  }

  &__two-button {
    display: flex;
    width: 100%;
    gap: 20px;

    > div, > button {
      flex: 1 1 50%;
    }

    > a {
      width: 100%;
    }

    @media screen and (max-width: 600px) {
      flex-wrap: wrap;
    }

    > div {
      flex: 1 1 50%;
    }
  }
}