.carousel{
  &_controlls_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


.controll{
  height: 6px;
  background-color: var(--bg-buttons-disable);
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  &_block{
    padding:7px 3px;
    width:30%;
    max-width: 130px;
    &_container{
      min-width:100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      &.arrows{
        justify-content: center;
      }
    }
  }
}
.active_controll{
  background-color: var(--bg-action);
}
.arrow{
  width: 0;
  height: 0;
  background-color: transparent;
  border-top: 3px solid transparent;
  border-right: 100px solid var(--bg-action);
  border-bottom: 3px solid transparent;
  @media screen and (max-width: 450px) {
    border-right: 70px solid var(--bg-action);
  }
}
.right_arrow{
  rotate: 180deg;
}