.map__filter {
  position: relative;
    &__modal{
      position: absolute;
      top: 0;
      left: 0;

      &__button {
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        > div:first-child {
          display: flex;
          align-items: center;
          gap: 8px;
        }
        
        &__close {
          min-width: 24px;
        }
      }
    }

    &__button {
      height: 64px;
    }

    &__buttons {
      display: flex;
      gap: 24px;
    }
  }