.product-card {
  border-radius: var(--border-radius);
  background: var(--bg-quadruple);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__first-row {
    display: flex;
    gap: 16px;

    .product-card__info > div:last-child {
      color: var(--text-quadruple);
    }
  }

  &__second-row {
    display: flex;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: flex-end;
    }
  }
}






