.card {
  display: flex;
  height: 100%;

  &.space-between {
    justify-content: space-between;
  }

  &.center {
    align-items: center;
  }

  &.left {
    align-items: flex-end;
  }

  &.column {
    flex-direction: column;
  }

  &.extra-large-border-radius {
    border-radius: var(--extra-large-border-radius);
  }

  &.large-border-radius {
    border-radius: var(--large-border-radius);
  }

  &.medium-border-radius {
    border-radius: var(--medium-border-radius);
  }

  &.small-border-radius {
    border-radius: var(--small-border-radius);
  }

  &.primary {
    background-color: var(--bg-primary);
  }

  &.quadruple {
    background-color: var(--bg-quadruple);
  }

  &.extra-small-gap {
    gap: 8px;
  }

  &.small-gap {
    gap: 16px;
  }

  &.medium-gap {
    gap: 24px;
  }

  &.large-gap {
    gap: 32px;
  }

  &.extra-large-gap {
    gap: 60px;
  }

  &.small-padding {
    padding: 16px;
  }

  &.small-medium-padding {
    padding: 16px 24px;
  }

  &.medium-padding {
    padding: 24px;
  }

  &.large-padding {
    padding: 32px;
  }

  &.extra-large-padding {
    padding: 40px;
  }

  &.active {
    box-shadow: inset 0 0 0 1px var(--bg-action);
  }
}



