.account__info0 {
    &__container{
        width: 1180px;
        height: 200px;
        display: flex;
        justify-content: space-between;
    }
    &__names{
        width: 464px;
        height: 66px;
        gap: 16px;
        display: flex;
    }
    &__statuses{
        width: 408px;
        height: 34px;
        display: flex;
        gap: 24px;
        :last-child{
            color: var(--text-tertiary);
        }
    }
    &__number{
        display: flex;
        gap: 4px;
        color: var(--text-copy);
    }
    &__about{
        display: flex;
        gap: 8px;
        flex-direction: column;
    }

    &__balance{
        width: 230px;
        height: 36px;
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    &__data{
        color: var(--text-copy);
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }
    &__column{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &__point{
        color:var(--text-primary-day)
    }
}

.back_link{
    padding-top: 16px;
    display: flex;
    color: var(--text-primary)
}