.carousel {
    margin: 0 25px;
    position: relative;
    width: calc(100% - 50px);
    max-width: 100%;

    > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 24px;
    }
}