.deposit-product-benefits {
    padding: 24px;

    > div {
        > div {
            display: flex;
            flex-direction: column;
            gap: 24px;

            > div {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
    }
}